@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employee List";
}

<h2 class="text-primary text-center">Employee List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <button id="exportSelected" class="btn btn-primary">Export Selected to Excel</button>
</p>

<form id="employeeForm">
    <table id="employeeTable" class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll" />
                </th>
                <th class="sortable" data-column="FirstName">First Name</th>
                <th class="sortable" data-column="LastName">Last Name</th>
                <th class="sortable" data-column="Email">Email</th>
                <th class="sortable" data-column="Mobile">Mobile</th>
                <th class="sortable" data-column="Address">Address</th>
                <th class="sortable" data-column="Actions">Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</form>

@section scripts{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            $('#employeeTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("GetEmployees", "Employee")",
                    "type": "POST"
                },
                "columns": [
                    { "data": null },
                    { "data": "FirstName" },
                    { "data": "LastName" },
                    { "data": "Email" },
                    { "data": "Mobile" },
                    { "data": "Address" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a href="/Employee/Update/' + row.Id + '">Update</a> | ' +
                                '<a href="/Employee/Delete/' + row.Id + '">Delete</a>';
                        }
                    }
                ],
                "columnDefs": [
                    {
                        "targets": 0,
                        "orderable": false,
                        "render": function (data, type, row) {
                            return '<input type="checkbox" name="selectedEmployees" value="' + row.Id + '" />';
                        }
                    }
                ],
                "pageLength": 10
            });

            $('#selectAll').on('click', function () {
                $('input[name="selectedEmployees"]').prop('checked', this.checked);
            });

            $('#exportSelected').on('click', function () {
                var selectedEmployees = [];
                $('input[name="selectedEmployees"]:checked').each(function () {
                    selectedEmployees.push($(this).val());
                });

                if (selectedEmployees.length > 0) {
                    var url = '@Url.Action("ExportToExcel", "Employee")';
                    var form = $('#employeeForm');
                    form.attr('action', url);
                    form.attr('method', 'POST');
                    form.append('<input type="hidden" name="selectedEmployees" value="' + selectedEmployees.join(',') + '">');
                    form.submit();
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'No employees selected!',
                        text: 'Please select at least one employee to export.'
                    });
                }
            });
        });
    </script>
}
